*
    box-sizing: border-box




$Dark-cyan: hsl(185, 75%, 39%)
$Very-dark-desaturated-blue: hsl(229, 23%, 23%)
$Dark-grayish-blue: hsl(227, 10%, 46%)


$Dark-gray: hsl(0, 0%, 59%)

p
    font-size: 1.125rem
body
    font-family: 'Kumbh Sans', sans-serif
    background-image: url(../images/bg-pattern-top.svg),url(../images/bg-pattern-bottom.svg)
    background-color: $Dark-cyan
    background-repeat: no-repeat,no-repeat
    min-width: 100vw
    min-height: 100vh
    background-size: cover
    background-origin: content-box
    margin: 0
    background-position: left -80vw top -60vh,right  -80vw top 50vh

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.card
    border-radius: 15px
    background-color: white
    text-align: center
    overflow: hidden
    width: 80vw
    max-width: 375px
    display: block
    box-shadow: 0 0 50px #00000042
    .profile
        display: flex
        align-items: center
        justify-content: center
        min-height: 300px
        background:url('../images/bg-pattern-card.svg') no-repeat
        background-size:  100% 150px
        position: relative
        .img
            img
                position: absolute
                transform: translate(-50%,-50%)
                left: 50%
                top: 50%
                width: 120px
                height: 120px
                border-radius: 100%
                overflow: hidden
                border: solid white 5px
                background-color: white
        .profile-data
            margin-top: auto
            color: $Dark-gray
            p
                line-height: 1.7
                font-size: 1.125rem
                span
                    color: black
                    font-weight: 700

                

    hr
        border: none
        height: 1px
        background-color: rgba(0, 0, 0, 0.144)

    .data
        display: flex
        width: 80%
        margin: 0 auto
        justify-content: space-around
        column-gap: 20px
        div
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            p
                font-weight: 700
                line-height: 1.2
                small
                    font-size: .8rem
                    font-weight: 400
                    color: $Dark-gray

@media screen and ( min-width:  700px)
    body
        background-position: left -60vw bottom 50vh,right  -60vw top 50vh
        background-size: auto

@media screen and ( min-width:  1200px)
    body
        background-position: left -20vw bottom 40vh,right  -20vw top 40vh
        background-size: auto
footer
    width: 80vw
    max-width: 375px     
    

.attribution 
    margin-top: 10px
    font-size: 11px
    text-align: center
    letter-spacing: 1px
    font-weight: 400
    a  
        color: white
        text-decoration: none
        font-weight: 700
        &:hover
            text-decoration: underline